body{
    margin: 0;
    padding: 0;

}
.top-section{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    height: 115vh;
    
    
    
}
.top-section h1{
    font-size: 80px;
    
    color: gray;
}
.middle-section h1{
    font-size: 30px;
    color: gray;
}
p{
    
    font-size: 20px;
    font-weight: 400;
    color: gray;
    padding-bottom: 20px;
}
.half-width{
    width: 50%;
    margin: 30px;
}
.half-width img{
    width: 80%;
}
span{
    color: orange;
}
.order-button{
    text-decoration: none;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 50px;
    background-image: linear-gradient(orange,tomato);
    
}

.middle-section{
    background-image: url(images/shapes/frame-7.png);
    display: flex;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 122vh;
    margin-bottom:100px ;
}



.my-recipies{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 5vh;
}

.third-section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 150px;
}
.third-width{
    align-items: center;
    margin-left: 40px;
    padding: 30px;
    border-radius: 20px;
    border: 0px;
    box-sizing: border-box;
    box-shadow: 5px 5px 40px gray;
    width: 40%;
    height: 80vh;
    text-align: left;

}
.third-width img{
    width: 100%;

    border-radius: 5px;
}

.third-width h1{
    font-size: 30px;
    color: black;
}

.last-section{
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 5px 40px gray;
    width: 75%;
    height: 20vh;
    margin-left: 13%;
    margin-bottom: 90px;

    
}
.follower{
    margin: 25px;
    font-size: 20px;
}

.footer{
    background-color: black;
    height: 30vh;
    text-align: center;
    padding: 30px;
    color: #fff;
}